.test.heroSection{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.test.heroSection h1{
  font-size: 38px;
  letter-spacing: 0.4px;
  word-spacing: 1px;
}
.test.heroSection p{
  color: #343A40;
  max-width: 800px;
  text-align: center;
  padding: 2px 10px;
}
.test.heroSection .btnsGroup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 8px;
  flex-wrap: wrap;
}
.test.heroSection a.btn{
  padding: 10px 26px;
  background-color: #007BFF;
  color: #F8F9FA;
  border: 2px solid #007BFF;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.test.heroSection a.btn:hover{
  background-color: #F8F9FA;
  color: #007BFF;
}
.test.heroSection a i{
  font-size: 20px;
  margin: 0 0 0 8px;
}
.interviewQuestionsSection{
  background-color: #F8F9FA;
  margin: 10px;
  padding: 10px;
  min-height: calc(100vh - 20px);
}
.interviewTopics{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
}
.interviewTopics > div{
  width: calc(100% / 3 - 10px);
  background-color: #343A40;
  color: #F8F9FA;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px){
  .interviewTopics > div{
    width: calc(100% / 2 - 5px);
  }
}
@media (max-width: 786px){
  .interviewTopics > div{
    width: calc(100% / 1 - 0px);
  }
}
.interviewTopics > div > a{
  padding: 8px 16px;
  background-color: #007BFF;
  color: #F8F9FA;
  border: 2px solid #007BFF;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.interviewTopics > div > a:hover{
  background-color: #F8F9FA;
  color: #007BFF;
}
.interviewQuestionsSection > p{
  margin: 10px 0;
}
.tests{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}
.test{
  padding: 10px;
  background-color: #F8F9FA;
  flex: 1;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.test a{
  text-decoration: none;
  color: #007BFF;
}
.test p{
  line-height: 26px;
  font-size: 17px;
  margin: 10px 0;
}
.test .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tests .test a{
  padding: 8px 28px;
  background-color: #007BFF;
  color: #F8F9FA;
  display: inline-block;
  width: fit-content;
  font-size: 17px;
  border: 2px solid #007BFF;
  line-height: 24px;
  transition-duration: 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tests .test a:hover{
  background-color: #F8F9FA;
  color: #007BFF;
  border: 2px solid #007BFF;
}
.tests .test a:active{
  background-color: #343A40;
  color: #F8F9FA;
  border: 2px solid #343A40;
}
.tests .test a i{
  font-size: 24px;
  margin: 0 0 0 8px;
}
.soon{
  background-color: #343A40;
  color: #F8F9FA;
  width: fit-content;
  padding: 8px 25px;
  margin: 0 !important;
  font-size: 17px;
  border: 2px solid #343A40;
  display: inline-block;
  line-height: 24px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.soon i{
  font-size: 21px;
  margin: 0 0 0 8px;
}