.info{
    background-color: #007BFF;
    color: #F8F9FA;
    padding: 10px;
    margin: 0 0 10px 0;
}
.answerOptions{
    border: 2px solid #007BFF;
    width: 100%;
    word-break: break-word;
    padding: 10px 15px;
    text-align: left;
    margin: 4px 0;
    cursor: pointer;
    background-color: #F8F9FA;
    font-size: 17px;
}
.answerOptions:hover{
    border: 2px solid #343A40;
}
.test{
    background-color: #F8F9FA;
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 600px;
    margin: 10px 0;
    box-sizing: border-box;
}
.test .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.test .btn{
    width: calc(100% - 0px);
    padding: 10px;
    font-size: 17px;
    border: none;
    background-color: #007BFF;
    color: #F8F9FA;
    border: 2px solid #007BFF;
    margin: 4px 0 0 0;
    cursor: pointer;
    outline: none;
}
.test .btn:active{
    background-color: #343A40;
    border: 2px solid #343A40;
}
.test .btns .btn{
    width: calc(50% - 2px);
    background-color: #0000;
    color: #007BFF;
    border: 2px solid #007BFF;
}
.test .btns .btn:active{
    background-color: #007BFF;
    border: 2px solid #007BFF;
    color: #F8F9FA;
}
.test .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.test .row span{
    font-size: 28px;
    background-color: #F8F9FA;
    color: #007BFF;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
}
.p{
    line-height: 25px;
    font-size: 17px;
}
.code{
    margin: 6px 0;
    background-color: #343A40;
    color: #F8F9FA;
    padding: 10px;
    overflow-x: auto;
    font-family: monospace;
    line-height: 25px;
    font-size: 17px;
}
.certificate p{
    margin: 10px 0;
}
.certificate{
    width: calc(100% - 20px);
    max-width: 600px;
    margin: 10px;
    box-sizing: border-box;
}
.certificate a{
    text-decoration: none;
}
.certificate input{
    width: 100%;
    margin: 0 0 10px 0;
    padding: 8px 4px;
    font-size: 17px;
    border: 2px solid #e3e3e3;
    background-color: #e3e3e3;
    box-sizing: border-box;
}
.certificate input:focus{
    border: 2px solid #007BFF;
    outline: none;
}
.certificate a, .certificate button{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.certificate button{
    margin: 0 0 10px 0;
    cursor: pointer;
}
.certificate a, .certificate button{
    padding: 10px 30px;
    background-color: #007BFF;
    color: #F8F9FA;
    display: inline-block;
    font-size: 17px;
    border: none;
}
.certificate a:active, .certificate button:active{
    background-color: #343A40;
}